.meg-message{
    @extend .db;
    @extend .fx1;
   
    .meg-title{
        margin-bottom: 20px;
    }
    .divider{
        width: 100px;
    }
    .info{
        //home 是左右布局的，所以home下面的元素高度是自适应的，没有height 100%，就会被内容撑开
        @extend .dbv1;
        .content{
            background-color: $color-3;
            padding: 20px;
            @extend .dbv1;
            .el-scrollbar{
                @extend .dbv1;
            }
        }
        
    }

}