@import "./imgs.scss";
.meg-ui{
    @extend .db;
    @extend .fx1;
    height: 100%;
    .left{
        width: 200px;
        border-right:  1px solid rgba(0,0,0,.2);
        padding-right: 20px;
        margin-top: 5px;
        .ui-title{
            color: #23296c;
            font-size: 16px;
            .iconfont{
                font-size: 16px;
            }
        }
        ul{
            padding-top: 15px;
            padding-left: 16px;
            li{
               margin-bottom: 2px;
               padding: 6px 4px;
               border: 1px solid $bg-content;;
               border-radius: 4px;
               &:hover{
                    border: 1px solid $color-5;
                    color: $color-5;
                    cursor: pointer;
                    .del{
                        color: $color-13;
                        display: block;
                    }
               }
               .item-text{
                    line-height: 24px;
               }
               .del{
                   display: none;
                   &:hover{
                    color: $color-10;
                   }
               }
            }
            .on{
                border: 1px solid $color-5;
                color: $color-5;
            }
        }
        
    }
    .right{
        padding-left: 20px;
        @extend .fx1;
        .top{
            @extend .db; 
            .meg-title{
                padding: 0px;
                @extend .fx1;
                span{
                    line-height: 42px;
                }
            }
        }
        .buttom{
          
            .file-item{
                margin-top: 20px;
                float: left;
                cursor: pointer;
                width: 160px;
                padding: 10px;
                position: relative;
                border-radius: 2px;
                padding-top: 25px;
                .tool{
                    position: absolute;
                    display: none;
                    top:10px;
                    right: 10px;
                    .del-prj{
                        
                        color: $color-5;
                        padding: 0 4px;
                        border-radius: 2px;
                        &:hover{
                            background: $color-13;
                        }
                    }
                }
               
                .file{
                    margin: 0px 40px;
                    height: 80px;
                    width: 80px;
                    background: url('#{$base_img}/login/file.png') no-repeat center center;
                    background-size: contain;
                }
                .text{
                    padding: 2px;
                    text-align: center;
                    color: $color-4;
                }
                &:hover{
                    background-color:$color-12;
                    .tool{
                        display: flex;
                       
                    }
                }


            }

        }
    }
}