.namespace-manage {
  .add-btn {
    float: right;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .el-table td, .el-table th {
    padding: 6px 0;
    height: 53px;
  }
  .dialogClass {
    .el-form {
      width: 70%;
      margin: 0 auto;

    }
  }
}