
.meg-layout{
    @extend .db;
    @extend .v;
    height: 100%;
    .meg-title{
        @extend .db;
        height: 60px;
        background-image: linear-gradient(89deg, #0A1544 0%, #232F6C 63%, #23296C 100%);
        .logo{
            width: 150px;
            background: url(/login/megvii-logo-white.png) no-repeat center center;
            height: 60px;
            background-size: 120px;
                }
        .text{
            line-height: 60px;
            background-image: -webkit-gradient(linear, center top,center bottom, from(#ffffff), to(#696df5));
            background-clip: text; /*必需加前缀 -webkit- 才支持这个text值 */
            -webkit-text-fill-color: transparent; /*text-fill-color会覆盖color所定义的字体颜色： */
            font-size: 18px;
            margin-left: 5px;

        }
        
    }
    .meg-bottom{
        @extend .fx1;
        @extend .db;
        overflow: hidden;
        .meg-menu{
            background: #0A1544;
            width: 180px;
            .el-menu{
                height: 100%;
            }
            .iconfont{
                color: rgb(140, 156, 253);
                margin-right: 5px;
            }
            .el-menu-item{
                span{
                    color: rgb(140, 156, 253);
                }
            }
            .is-active{
                .iconfont{
                    color: #ffffff;
                }
                span{
                    color: #ffffff;
                }
            }

        }
        .meg-page{
            @extend .fx1;
            @extend .db;
            @extend .v;
            background: $bg-content;
        }
    }
}