
$--font-path: "~element-ui/lib/theme-chalk/fonts";
$--color-primary: $color-5;
$--color-text-primary: $color-5;
$--border-radius-base: 4px;
@import "~element-ui/packages/theme-chalk/src/index";
/* 滚动条初始化 */
.el-scrollbar {
    vertical-align: inherit;
    overflow: hidden;

    .el-scrollbar__bar .is-horizontal {
        display: none !important;
    }

    .el-scrollbar__wrap {
        margin-bottom: 0px !important;
        overflow-x: hidden !important;
    }
}