@import "@/assets/base/color.scss";
@import "@/assets/base/flex.scss";
@import "@/assets/base/font.scss";
@import "@/assets/base/resert.scss";
@import "@/assets/base/element.scss";
/************************width height******************************/
/* 宽度/高度100% */
.height100 {
    height: 100% !important;
}

.width100 {
    width: 100% !important;
}

.height-auto {
    min-height: 0;
    height: auto !important;
}

.width115 {
    width: 115px !important;
}