/************************width height******************************/
/* 宽度/高度100% */
.height100 {
    height: 100% !important;
}

.width100 {
    width: 100% !important;
}

.height-auto {
    min-height: 0;
    height: auto !important;
}

.width115 {
    width: 115px !important;
}

.mt20{
    margin-top: 20px;
}


.mt40{
    margin-top: 40px;
}

.mb20{
    margin-bottom: 20px;
}
.mb40{
    margin-bottom: 40px;
}

.mr20{
    margin-right: 20px;
}

.ml20{
    margin-left: 20px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.c-info{
    color: $color-7;
}